.raiting, .raitingIcon{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.raiting li{
    position: relative;
    background: url(../image/rankstar-0.png) no-repeat;
    width: 25px;
    height: 20px;
    margin-right: 1px;   
}
.raiting li.full:after, .raiting li.half:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: url(../image/rankstar-1.png) no-repeat;
}

.raiting li.half:after{
    width: calc(100% / 2 - 1px);
}